.tableWrapper {
  overflow-x: auto;
  position: relative;
}

.table {
  min-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  color: var(--light);
  font-weight: 300;
  flex: 1;

  .stickyCol {
    position: sticky;
    left: 0;
    z-index: 1;
    transition: background 0.3s ease-in-out;
  }

  td.stickyCol,
  th.stickyCol {
    backdrop-filter: blur(7px);
  }

  .stickyCol:first-of-type {
    left: 0;
  }

  .stickyCol:nth-of-type(2) {
    left: 220px;
  }

  @media (max-width: 500px) {
    .stickyCol:nth-of-type(2) {
      left: 112.5px;
    }

    & th:first-of-type,
    & td:first-of-type {
      width: 100px !important;
    }
  }

  thead {
    text-align: left;
    font-size: 0.857rem;
    font-weight: 600;
    text-transform: uppercase;
    position: sticky;
    z-index: 21;
    top: 0;

    > tr {
      margin: 0;
      padding: 0;
      height: 80px;

      > th {
        padding: 12px 8px;
        user-select: none;
      }

      th:first-child div,
      th:nth-child(2) div {
        color: var(--yellow);
      }
    }

    .hide {
      line-height: 0;
      visibility: hidden;
      height: 0;
      padding: 0;
      margin: 0;
      opacity: 0;

      > th,
      > th > div {
        line-height: 0;
        visibility: hidden;
        height: 0;
        padding: 0;
        margin: 0;
        border: none;
      }
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .containerButton {
      position: sticky;
      right: 0;

      button:not(:last-child) {
        margin-right: 14px;
      }
    }
  }

  tbody {
    font-size: 1rem;

    > tr {
      border-bottom: 1px solid var(--grey);
      transition: all 0.3s ease-in-out;

      td {
        padding: 12px 8px;
      }

      td:first-child,
      td:nth-child(2) {
        color: var(--yellow)
      }
    }
  }

  tfoot {
    height: 30vh;

    tr td > div {
      position: sticky;
      left: 50%;
      transform: translate(-50%, 0);
      height: inherit;
      width: fit-content;
    }
  }
}

.head {
  display: flex;
  align-items: center;
  color: var(--light);
  font-size: 0.857rem;
  border-bottom: 0;
}

.th {
  position: relative;
}

.name {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100% !important;

  & input {
    width: 100%;
  }

  @media (max-width: 500px) {
    img {
      display: none;
    }
  }
}
