.layout {
  padding: 100px 24px 0;
  min-height: 100vh;
  background:
    url('/images/smoke.png') no-repeat bottom center,
    url('/images/bg.jpg') no-repeat;
  background-size: cover;

  @media (max-width: 500px) {
    padding: 100px 12px 0;
  }
}

.layout > div,
.header > div {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 24px;
  background-color: var(--grey);

  @media (max-width: 500px) {
    padding: 0 12px;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
